.pad-0 {
	padding: 0px;
}

.intita-img {
	border-radius: 5px;
}

.all-inf {
    background-image: url(bg.png);
}

.text {
	text-align: center;
	height: 35px;
}
#inf {
	text-align: center;
}
#information:hover ul {
	color: #b94f74;
}

#modules{
    cursor: default;
}

#modules ul{
    display: none;
}

#modules li{
    list-style: none;
    cursor: default;
}

#modules ul.visible{
    display: block;
}

div #location span{
    color: #5465a6;
}


.networks {
	height: 150px;
	background-color: #f2dfe5;
}

.center-aling {
	text-align: center;
}






